body{
    margin: 0;
    width: auto;
}
body h2{
    background-color: #1b49e0;
    background-image: linear-gradient(to right,#1b49e0,#e3cb6a);
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: auto;
    
}

#input{
    margin: 55px;
    margin-top:15px;
    text-align: center;
    border-radius: 50px;
    border-top: 12px;
    border-left: 8px;
    border-right: 8px;
    border-bottom: 2px;
    padding-top: 20px;
    border-style: solid ;
    border-color:#fecb00;
}
.form {
    width: auto;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
}
.title{
    margin-bottom: 5%;
}
.description{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.description label{
    padding: 2%;    
}

.area{
    padding: 6%;
    text-align: center;
}

#start{
    display: flex;
    margin: 3%;
    margin-bottom: 45px;
    text-align: center;
}

#end{
    display:flex;
    margin: 3%;
    text-align: center;
}


.announce,.reset{
    color: aliceblue;
    margin: 0;
    margin-top: 5%;
    padding:10px;
    margin-right: 8px;
    border: none;
    background-color: #1b49e0;
    border-radius: 12%;
}

.announce:hover,.reset:hover{
    background-image: linear-gradient(to left,#1b49e0, #fecb00);
    border-radius: 35%;

}

.dataview{
    padding: 1%;
    margin:2%;    
}
.dataview h3{
    text-align: center;
}





::-webkit-scrollbar {
    width:8px;
    background:rgb(149, 160, 170);
    
}

::-webkit-scrollbar-thumb {
    border-radius: 30%;
    background: #1b49e0;
}