body{
    margin: 0;
}
body h2{
    background-color: #1b49e0;
    background-image: linear-gradient(to right,#1b49e0,#e3cb6a);
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#input{
    margin-top: 15px;
    text-align: center;
    border-radius: 50px;
    border-top: 12px;
    border-left: 8px;
    border-right: 8px;
    border-bottom: 2px;
    padding-top: 20px;
    border-style: solid ;
    border-color:#fecb00;
    
}


.form {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}

.announce,.reset , .view{
    color: aliceblue;
    margin: 0;
    padding:10px;
    margin-right: 8px;
    border: none;
    background-color: #1b49e0;
    border-radius: 12%;
}
.announce:hover,.reset:hover,.view:hover{
    background-image: linear-gradient(to left,#1b49e0, #fecb00);
    border-radius: 35%;

}

::-webkit-scrollbar {
    width:10px;
    background:rgb(149, 160, 170);
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #1b49e0;
    box-shadow: inset 0 0 33px rgba(77, 69, 69, 0.5);
}